a{
    font-family: 'Kreon';
    font-weight: 300;
}
@font-face {
    font-family:Jarene;
    src: url(Jarene.otf);
}
body{
    background-color: black;
}



.universos{
    color: yellow;
}
.aprende{
    color: darkblue;
}
/*font-size: 10rem;*/
@media (min-width:992px) {
h1{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 4rem;
}
.carousel-caption{
    top:3rem

}   }
@media (max-width:992px) {
    #carouselDark h1{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 3rem;
        
    }
}
@media (max-width:767px) {
    #carouselDark h1{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 2rem;
        
    }
    #carouselDark h2{
        font-size: 1rem;
    }
    #texto h3{
        text-align: center !important;
        text-justify: auto !important;
    }
}
@media (max-width:576px) {
    #carouselDark h1{
        font-size: 1.5rem;
        }
    .carousel-caption{
        top: 3rem;
    }
    #carouselDark h2{
        font-size: 0.5rem;
    }
}
#carouselDark h1{
    font-family: 'Montserrat';
    font-weight: 500;
    
}

#carouselDark h2{ /*A este texto hay que moverlo hacia arriba*/
    font-family: 'Montserrat';
    font-weight: 400;
}

#carouselDark h3{
    font-family: 'Montserrat';
    font-weight: 300;
}

.card{
    background-color: rgb(41, 72, 73);
}

.deep{
    font-family: 'Montserrat';
    font-weight: 500;
}

h1{
    font-family: 'Jarene';
}

h2{
    font-family: 'Jarene';
    font-weight: 400;
}
.deeph2{
    font-family: 'Montserrat';
    font-weight: 400;
}
h3{
    font-family: 'Montserrat';
    font-weight: 300;
}

p{
    font-family: 'Montserrat';
    font-weight: 100;
}

#texto h3{
    font-family: 'Montserrat';
    font-weight: 300;
    padding-left: 5rem;
}

#texto p{
    font-family: 'Montserrat';
    font-weight: 100;
    padding-left: 5rem;
}
#new {
    background: url(../img/fondo-5.png) no-repeat center center fixed;
    background-size: cover;
}
@media (max-width:767px) {
#contacto h1{
    font-size: 4rem !important;
}}

#logo img{
    color: yellow
}
#contacto{
    background: url(../img/rainy-rooftop.gif) no-repeat center center fixed;
    background-size: cover;
}
/*medida vh*/
/*#texto va a tomar la id de base y cambiara la semantica del interior*/
/*.card va a tomar todas las semanticas q coloques con eso*/
/*h1{} va a tomar todas las mismas etiquetas y cambiarlas*/